.input{
   
    height: 30px;
    outline: 0;
    background-color: transparent;
    font-size: 16px;
    color: white;
    padding: 5px 100px 5px 15px;
    border-radius: 10px;
    width: 25%;
    margin-left: -10%;
    margin-top: 10px;
}
.M{
    margin-right: 20%;
    color: white;
    font-size: large;
    font-weight: bold;
    margin-left: 10%;
}
.oo{
    color:#eea70f;
}
button:hover {
    background-color:#0087bd;
    color: #d42626;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
  }
  button{
    border-radius: 5px;
    height: 40px;
    width: 100px;
    background-color: #eea70f;
    margin-top: 10px;
    
  }
  .Home{
    margin-right: 5px;
    padding-right: 8px;
    color: white;
  }
  .btnsearch{
    margin-right: 10%;
  }
  .mylist{
    margin-right: 50px;
    color: white;
  }
  .nav{
    /* margin-left: 10%; */
    display: flex;
    background-color: black;
  }